/*
  =======================================
  CSS RESET & Restrizioni
  =======================================  
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 512px;
    margin: 0 auto;
}


/*
  =======================================
  ROOT & UTILITIES
  =======================================
*/

:root {
    --sidebar-server: #1e1f22;
    --chat-section: #2b2d31;
    --header-button: #373a43;
    --do-not-disturb-stats: #f94349;
    --afk-stats: #f4a71b;
    --online-stats: #39a65d;
    --txt-color-chat: #7f818c;
    --txt-color-chat-HV: #fafff5;
    --bg-color-chat-HV: #48484e;
    --bg-footer: #474849;
    --bg-button-HV: #4e5058;
    --bg-button: #383a40;
    --bg-link-footer: #b5bac1;
    --bg-link-footer-HV: #fff;
}

.txt-white {
    color: #ffffff;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.bord-radio50 {
    border-radius: 50%;
}

.list-style-none {
    list-style-type: none;
}

.p-rel {
    position: relative;
}

/*
   =======================================
   CONTAINER WRAP
   =======================================
*/

.container-wrapper {
    height: calc(100vh - 60px);
}

/*
  ========================================
  SIDEBAR
  ========================================
*/

.sidebar img {
    width: 50px;
    aspect-ratio: 1;
}

.server-active::before {
    content: "";
    position: absolute;
    height: 40px;
    border: 3px solid var(--txt-color-chat-HV);
    left: -11px;
    bottom: 5px;
    border-radius: 20px;
}

.server-icon {
    transition: all 0.3 ease;
}

.server-not-active:hover::before {
    content: "";
    position: absolute;
    height: 25px;
    border: 3px solid var(--txt-color-chat-HV);
    left: -11px;
    bottom: 11px;
    border-radius: 20px;
}

.container-sidebar {
    background-color: var(--sidebar-server);
    padding: 10px;
    flex-shrink: 0;
}

.sidebar li {
    margin: 10px 0;
}

/*
    =========================================
    LISTA CHAT
    =========================================
*/

/* header */

.container-header {
    margin: 10px 0;
}

.chat-title {
    margin-left: 20px;
    margin-top: 30px;
}

.btn-search,
.btn-add-friends {
    background-color: var(--bg-button);
    border: none;
    margin-left: 20px;
}

.btn-search {
    width: 35px;
    aspect-ratio: 1;
    transition: all 0.3s ease;
}

.btn-add-friends {
    border-radius: 20px;
    max-width: 80%;
    padding: 5px 0;
    flex-grow: 2;
    transition: all 0.3s ease;
}

.btn-add-friends p {
    display: inline;
    margin: 0 5px;
}

.btn-search:hover,
.btn-add-friends:hover {
    background-color: var(--bg-button-HV);
}

/* Main */

.container-main {
    background-color: var(--chat-section);
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.container-list img {
    height: 40px;
}

.container-img-users::before {
    content: "";
    position: absolute;
    height: 10px;
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 50%;
    bottom: 6px;
    left: 30px;
}

.status-online::before {
    background-color: var(--online-stats);
}

.status-afk::before {
    background-color: var(--afk-stats);
}

.status-do-not-disturb::before {
    background-color: var(--do-not-disturb-stats);
}

.users {
    justify-content: space-between;
    padding: 10px 8px;
    color: var(--txt-color-chat);
    border-radius: 10px;
    margin: 5px;
}

.users:hover {
    background-color: var(--bg-color-chat-HV);
    color: var(--txt-color-chat-HV);
}

.chat-active {
    color: var(--txt-color-chat-HV);
    background-color: var(--bg-color-chat-HV);
}

.section-chat-list {
    height: 100%;
    flex-grow: 1;
    min-height: 0;
}

.chat-list a,
.nav-list a {
    text-decoration: none;
}

.container-list {
    padding: 10px;
    min-height: 0;
    flex-grow: 1;
    overflow-y: auto;
    margin: 0 10px 50px 0;
}

.container-info {
    margin-left: 5px;
    line-height: 0.5px;
}

/*
  ======================================
   FOOTER
  ======================================
*/

.navbar img {
    width: 30px;
}

.navbar {
    background-color: var(--bg-footer);
    max-height: 70px;
}

.navbar a {
    color: var(--bg-link-footer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.navbar a:hover {
    color: var(--bg-link-footer-HV);
}

.container-nav-list {
    width: 70%;
    margin: 0 auto;
}

.nav-list {
    justify-content: space-between;
}

.bi {
    font-size: 20px;
}

/*
    ===================================
    REGOLE COMUNI
    ===================================
*/

.sidebar-list,
.chat-list,
.nav-list {
    padding-left: 0;
}

.chat-list p,
.nav-list p {
    font-size: 12px;
}