/*
  =======================================
  CSS RESET & Restrizioni
  =======================================  
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 512px;
    margin: 0 auto;
}


/*
  =======================================
  ROOT & UTILITIES
  =======================================
*/

:root {
    --primary-color: #1c1d22;
    --secondary-color: #141318;
    --tertiary-color: #373a43;
    --offline-stats: #f94349;
    --do-not-disturb-stats: #f4a71b;
    --online-stats: #39a65d;
    --txt-color-chat: #7f818c;
    --txt-color-chat-HV: #fafff5;
}

.txt-white {
    color: #ffffff;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.bord-radio50 {
    border-radius: 50%;
}

.list-style-none {
    list-style-type: none;
}

/*
   =======================================
   CONTAINER WRAP
   =======================================
*/

.container-wrapper {
    height: 100vh;
}

/*
  ========================================
  SIDEBAR
  ========================================
*/

.sidebar img {
    width: 50px;
    aspect-ratio: 1;
}

.container-sidebar {
    background-color: var(--secondary-color);
    padding: 10px;
    flex-shrink: 0;
}

.sidebar ul {
    padding-left: 0;
}

.sidebar li {
    margin: 10px 0;
}

/*
    =========================================
    LISTA CHAT
    =========================================
*/

/* header */

.chat-title {
    margin-left: 20px;
    margin-top: 30px;
}

.btn-search,
.btn-add-friends {
    background-color: var(--tertiary-color);
    border: none;
    margin-left: 20px;
}

.btn-search {
    width: 35px;
    aspect-ratio: 1;
}

.btn-add-friends {
    border-radius: 20px;
    max-width: 80%;
    padding: 5px 0;
    flex-grow: 2;
}

.btn-add-friends p {
    display: inline;
    margin: 0 5px;
}

/* Main */

.container-main {
    background-color: var(--primary-color);
    height: 100vh;
    width: 100%;
}

.container-list img {
    height: 30px;
}

.users {
    justify-content: space-between;
}

.chat-list ul {
    padding-left: 0;
}

.chat-list a {
    text-decoration: none;
}

.container-list {
    padding: 10px 25px;
}