/*
  =======================================
  CSS RESET & Restrizioni
  =======================================  
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
}

body {
    width: 512px;
    margin: 0 auto;
}


/*
  =======================================
  ROOT & UTILITIES
  =======================================
*/

:root {
    --primary-color: #1c1d22;
    --secondary-color: #141318;
    --tertiary-color: #141318;
    --offline-stats: #f94349;
    --do-not-disturb-stats: #f4a71b;
    --online-stats: #39a65d;
    --txt-color-chat: #7f818c;
    --txt-color-chat-HV: #fafff5;
}

.txt-white {
    color: #ffffff;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.bord-radio50 {
    border-radius: 50%;
}

.list-style-none {
    list-style-type: none;
}

/*
  ========================================
  SIDEBAR
  ========================================
*/

.sidebar img {
    width: 50px;
    aspect-ratio: 1;
}